.custom-navbar {
  background-color: #36454F !important;
}

.merriweather-regular {
  font-family: "Merriweather", serif;
  font-weight: 400;
  font-style: normal;
}

.mainHeading {
  display: block;
  text-align: center;
  padding: 10px 20px;
  font-size: 80px;
  font-family:Merriweather;
  font-weight: bold;
  color: #212529;
  background-color: #71797E; 
}

.custom-hr {
  margin-left: 210px;
  margin-right: 210px;
  border: none;
  height: 1px;
  background-color: #493333; 
}